{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="d-flex justify-content-between">
    <div id="header">
        {% if header %}
        <small class="text-muted">{{ header.side }}</small>
        <h2>{{ header.main }}</h2>
        {% endif %}
    </div>
    <div class="dropdown">
        <span>sort by: </span>
        <form action="{{ request.get_path }}" method="get" role="ordering">
            <select name="ordering" class="form-select form-select-sm mb-2" aria-label="Sort by" onchange="this.form.submit()">
                <option value="ratings_count" {% if request.GET.ordering == "ratings_count" %}selected{% endif %}># ratings</option>
                <option value="ratings_average" {% if request.GET.ordering == "ratings_average" %}selected{% endif %}>ratings average</option>
                <option value="release_date" {% if request.GET.ordering == "release_date" %}selected{% endif %}>release date</option>
                <option value="created_at" {% if request.GET.ordering == "created_at" %}selected{% endif %}>date added to the site</option>
                <option value="title" {% if request.GET.ordering == "title" %}selected{% endif %}>alphabetical order (title)</option>
            </select>
        </form>
    </div>
</div>
<div class="row row-cols-auto g-3">
    {% for movie in page_obj %}
    <div class="col">
      <div class="card h-100 rounded-0 overflow-hidden" style="width: 148px;">
        <img
            loading="lazy" 
        {% if movie.poster_path %}
            src="https://image.tmdb.org/t/p/w185{{ movie.poster_path }}"
            srcset="https://image.tmdb.org/t/p/w500{{ movie.poster_path }} 2x" 
        {% else %}
            src="{% static 'card_img_placeholder.png' %}" 
        {% endif %}
            class="card-img-top rounded-0" 
            alt="Poster for {{ movie.title }} ({{ movie.release_date.year }})"
        />
        <div class="position-absolute bottom-0 bg-white w-100">
          <div class="fs-6 m-2" style="line-height: 19px;">
            <p class="mb-2"><a href={% url 'movie_detail' movie.id %} class="text-decoration-none text-muted">{{ movie.title }}</a></p>
            <i class="bi bi-star-fill fst-normal"> 
                {% if movie.ratings_average %}
                {{ movie.ratings_average }}
                {% else %}
                Not rated
                {% endif %}
            </i>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
</div>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1&search={{request.GET.search}}&ordering={{request.GET.ordering}}">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}&search={{request.GET.search}}&ordering={{request.GET.ordering}}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}&search={{request.GET.search}}&ordering={{request.GET.ordering}}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}&search={{request.GET.search}}&ordering={{request.GET.ordering}}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}
