{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load app_tags %}

{% block content %}
<div class="card mb-3 rounded-0">
    <div class="row g-0">
        <div class="col-md-4">
            <img 
            src="https://image.tmdb.org/t/p/original{{ movie.backdrop_path }}"
            class="img-fluid h-100" 
            alt="Poster for {{ movie.title }} ({{ movie.release_date.year }})"
            />
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h1 class="card-title">
                    {{ movie.title }} ({{ movie.release_date.year }})
                </h1>
                {% if user.is_authenticated %}
                <div class="d-flex align-items-center">
                    <form action={% url 'rating_add' movie.id %} method="post" id="rating-form" onsubmit="openLoader()">
                        {% csrf_token %}
                        <fieldset class="rating">
                            {% for i in 10|rev_range:0 %}
                            <input type="radio" 
                                onchange="formSubmit(this)" 
                                id="star{{ i }}" name="rating" 
                                value="{{ i }}"
                                {% if user_rating == i %}checked{% endif %}/>
                            <label class ={% if i|divisibleby:2 %}"full"{% else %}"half"{% endif %} for="star{{ i }}"></label>
                            {% endfor %}
                        </fieldset>
                    </form>
                    {% if user_rating %}
                    <form action={% url 'rating_delete' movie.id %} method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-dark btn-sm">
                            <i class="bi bi-arrow-counterclockwise"></i>
                        </button>
                    </form>
                    {% endif %}
                </div>
                {% else %}
                <p class="card-text">&#8205;</p>
                {% endif %}
                <p class="card-text pt-1">
                    <span class="badge rounded-pill bg-dark fs-6">
                        {{ movie.ratings_average|floatformat:1 }}
                    </span>
                    <small class="fw-lighter">
                        Average of {{ movie.ratings_count }} ratings
                    </small>
                </p>
                <p class="card-text">
                {% for genre in movie.genres.all %}
                    <div class="badge bg-secondary fs-6">{{ genre.name }}</div>
                {% endfor %}
                </p>
                <p class="card-text">
                    <a href="https://www.themoviedb.org/movie/{{ movie.tmdb_id }}" class="text-decoration-none">TMDB</a>
                </p>
            </div>
        </div>        
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="d-flex justify-content-between p-2"><small class="text-muted">Release</small><span class="float-end">{{ movie.release_date }}</span></div>
        <div class="d-flex justify-content-between p-2">
            <small class="text-muted">Countries</small>
            <span class="float-end d-inline-block text-truncate" style="max-width: 50%;">
            {% for country in movie.prod_countries.all %}
                {{ country.name }}{% if not forloop.last %},{% endif %}
            {% endfor %}
            </span>
        </div>
        <div class="d-flex justify-content-between p-2"><small class="text-muted">Tagline</small><span class="float-end text-end fw-light">"{{ movie.tagline }}"</span></div>
        <div class="d-flex justify-content-between p-2">
            <small class="text-muted">Director</small>
            <span class="float-end d-inline-block text-truncate" style="max-width: 50%;">
            {% for director in movie.director.all %}
                {{ director.name }}{% if not forloop.last %},{% endif %}
            {% endfor %}
            </span>
        </div>
        <div class="d-flex justify-content-between p-2">
            <small class="text-muted">Writer</small>
            <span class="float-end d-inline-block text-truncate" style="max-width: 50%;">
            {% for writer in movie.writer.all %}
                {{ writer.name }}{% if not forloop.last %},{% endif %}
            {% endfor %}
            </span>
        </div>
        <div class="d-flex justify-content-between p-2">
            <small class="text-muted">Producer</small>
            <span class="float-end d-inline-block text-truncate" style="max-width: 50%;">
            {% for producer in movie.producer.all %}
                {{ producer.name }}{% if not forloop.last %},{% endif %}
            {% endfor %}
            </span>
        </div>
        <div class="d-flex justify-content-between p-2">
            <small class="text-muted">Cinematographer</small>
            <span class="float-end d-inline-block text-truncate" style="max-width: 50%;">
            {% for cinematographer in movie.cinematographer.all %}
                {{ cinematographer.name }}{% if not forloop.last %},{% endif %}
            {% endfor %}
            </span>
        </div>
        <div class="d-flex justify-content-between p-2">
            <small class="text-muted">Composer</small>
            <span class="float-end d-inline-block text-truncate" style="max-width: 50%;">
            {% for composer in movie.composer.all %}
                {{ composer.name }}{% if not forloop.last %},{% endif %}
            {% endfor %}
            </span>
        </div>
        <div class="d-flex justify-content-between p-2">
            <small class="text-muted">Budget</small><span class="float-end">${{ movie.budget|intcomma }}</span>
        </div>
        <div class="d-flex justify-content-between p-2">
            <small class="text-muted">Revenue</small><span class="float-end">${{ movie.revenue|intcomma }}</span>
        </div>
        <div class="d-flex justify-content-between p-2">
            <small class="text-muted">Runtime</small><span class="float-end">{{ movie.runtime }} minutes</span>
        </div>
    </div>
    <div class="col-md-6">
        <p class="fs-4 text-start font-monospace">{{ movie.overview }}</p>
    </div>
</div>
<h1>Similar movies</h1>
<div class="row flex-nowrap overflow-auto">
{% for movie in movie.similar_movies %}
    <div class="col">
        <div class="card shadow-sm h-100 rounded-0 overflow-hidden" style="width: 148px;">
            <img
                loading="lazy"
            {% if movie.poster_path %}
                src="https://image.tmdb.org/t/p/w185{{ movie.poster_path }}"
                srcset="https://image.tmdb.org/t/p/w500{{ movie.poster_path }} 2x" 
            {% else %}
                src="{% static 'card_img_placeholder.png' %}" 
            {% endif %}
                class="card-img-top rounded-0" 
                alt="Poster for {{ movie.title }} ({{ movie.release_date.year }})"
            />
            <div class="position-absolute bottom-0 bg-white w-100">
                <div class="fs-6 m-2" style="line-height: 19px;">
                <p class="mb-2"><a href={% url 'movie_detail' movie.id %} class="text-decoration-none text-muted">{{ movie.title }}</a></p>
                <i class="bi bi-star-fill"> {{ movie.ratings_average|floatformat:1 }}</i>
                </div>
            </div>
            <a href={% url 'movie_detail' movie.id %} class="stretched-link"></a>
        </div>
    </div>
{% endfor %}
</div>
<script>
    function formSubmit(radioObj){
      if(radioObj.checked){
        document.getElementById("rating-form").submit();
      }
    }
</script>
{% endblock %}