{% extends "base.html" %}
{% load static %}
{% load app_tags %}

{% block content %}
<div class="d-flex justify-content-between">
    <div id="header">
        <small class="text-muted"></small>
        <h2>movies you've rated</h2>
    </div>
    <div class="dropdown">
        <span>sort by: </span>
        <form action={% url 'rating_list' %} method="get" role="ordering">
            <select name="ordering" class="form-select form-select-sm mb-2" aria-label="Sort by" onchange="this.form.submit()">
                <option value="rating" {% if request.GET.ordering == "rating" %}selected{% endif %}>my rating</option>
                <option value="ratings_count" {% if request.GET.ordering == "ratings_count" %}selected{% endif %}># ratings</option>
                <option value="release_date" {% if request.GET.ordering == "release_date" %}selected{% endif %}>release date</option>
                <option value="created_at" {% if request.GET.ordering == "created_at" %}selected{% endif %}>date added to the site</option>
                <option value="title" {% if request.GET.ordering == "title" %}selected{% endif %}>alphabetical order (title)</option>
            </select>
        </form>
    </div>
</div>
<div class="row row-cols-auto g-3">
    {% for rating in page_obj %}
    <div class="col">
      <div class="card shadow-sm h-100 rounded-0 overflow-hidden" style="width: 148px;">
        <img
            loading="lazy" 
        {% if rating.movie.poster_path %}
            src="https://image.tmdb.org/t/p/w185{{ rating.movie.poster_path }}"
            srcset="https://image.tmdb.org/t/p/w500{{ rating.movie.poster_path }} 2x" 
        {% else %}
            src="{% static 'card_img_placeholder.png' %}" 
        {% endif %}
            class="card-img-top rounded-0" 
            alt="Poster for {{ rating.movie.title }} ({{ rating.movie.release_date.year }})"
        />
        <div class="position-absolute bottom-0 bg-white w-100">
          <div class="fs-6 m-2" style="line-height: 19px;">
            <p class="mb-2"><a href={% url 'movie_detail' rating.movie.id %} class="text-decoration-none text-muted">{{ rating.movie.title }}</a></p>
            <i class="bi bi-star-fill fst-normal"> 
                {{ rating.value|div:2 }}
            </i>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
</div>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1&ordering={{request.GET.ordering}}">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}&ordering={{request.GET.ordering}}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}&ordering={{request.GET.ordering}}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}&ordering={{request.GET.ordering}}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}